<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.limpoxe.downloads">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>

        <provider android:name="com.limpoxe.downloads.DownloadProvider"
                  android:authorities="limpoxe_downloads"
                  android:exported="false">
        </provider>

        <service
            android:name="com.limpoxe.downloads.DownloadService" />

        <receiver android:name="com.limpoxe.downloads.DownloadReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.UID_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
